Repository iterative/terraform-provider-iterative, pull requests merged in 2021-09, with the labels that each got.

#193 Add support for generic metadata
  iterative/resource_machine.go
  iterative/resource_runner.go
Labels: enhancement, multicloud, machine

#199 update test
  .github/workflows/test.yml
Labels: technical debt, testing

#191 Add support for Azure metadata (tags)
  iterative/azure/provider.go
Labels: enhancement, vendor-azure, machine

#183 Migrate to aws-sdk-go-v2
  go.mod
  go.sum
  iterative/aws/provider.go
Labels: vendor-aws, technical debt, machine

#187 Add support for AWS metadata (tags)
  iterative/aws/provider.go
Labels: enhancement, vendor-aws, machine

#200 Fix nil pointer derreference on AWS resource destroy
  iterative/aws/provider.go
Labels: bug, vendor-aws

#203 Improve Makefile
  Makefile
Labels: enhancement

#190 Add support for Google Cloud metadata (labels)
  iterative/gcp/provider.go
Labels: enhancement, vendor-azure, machine

#205 Fix ineffective sudo usage in setup.sh
  cml/setup.sh
Labels: bug
