Repository iterative/terraform-provider-iterative, pull requests merged in 2021-07, with the labels that each got.

#157 Simplify test.yml
  .github/workflows/test.yml
Labels: technical debt, testing

#160 Fix cml.service not waiting for process shutdown
  iterative/resource_runner.go
  iterative/testdata/script_template_cloud_aws.golden
  iterative/testdata/script_template_cloud_azure.golden
  iterative/testdata/script_template_cloud_invalid.golden
Labels: azure, bug

#161 Wait improvements
  iterative/aws/provider.go
  iterative/azure/provider.go
  iterative/resource_machine.go
  iterative/resource_runner.go
Labels: bug, multicloud, runner

#166 Add support for GOOGLE_APPLICATION_CREDENTIALS on runners
  iterative/gcp/provider.go
Labels: bug, gcp, runner
