Repository iterative/terraform-provider-iterative, pull requests merged in 2022-01, with the labels that each got.

#344 Fix runner termination in AWS with non cloud regions
  iterative/aws/provider.go
  iterative/resource_runner.go
  iterative/testdata/script_template_cloud_aws.golden
  iterative/testdata/script_template_cloud_azure.golden
  iterative/testdata/script_template_cloud_gcp.golden
  iterative/testdata/script_template_cloud_invalid.golden
  iterative/testdata/script_template_cloud_kubernetes.golden
  iterative/utils/helpers.go
Labels: p0-critical, cloud-aws, runner

#350 Delete task resources when creation fails
  iterative/resource_task.go
Labels: enhancement

#339 CML sugar 🍬
  iterative/resource_task.go
  task/common/machine/script.go
Labels: enhancement, user experience, task

#322 Task status, heavy write fix and aws ips
  iterative/resource_task.go
  task/aws/resources/resource_auto_scaling_group.go
  task/aws/task.go
  task/az/resources/resource_virtual_machine_scale_set.go
  task/az/task.go
  task/common/machine/script.go
  task/common/machine/storage.go
  task/common/values.go
  task/gcp/resources/resource_instance_group_manager.go
  task/gcp/task.go
  task/k8s/resources/resource_job.go
  task/k8s/task.go
  task/task.go
  task/task_test.go
Labels: enhancement, p0-critical, user experience, task

#366 update discord link
  README.md
Labels: documentation

#364 Search for security group identifiers instead of names if they start with sg-
  iterative/aws/provider.go
Labels: cloud-aws, runner

#369 update discord link again
  README.md
Labels: documentation

#370 Move runner startup script under the right heredoc
  iterative/resource_runner.go
Labels: bug, cloud-common, runner

#259 Add AKS guide for testing Kubernetes support
  docs/guides/testing-kubernetes.md
Labels: documentation

#377 Fix data directory synchronization
  task/common/machine/script.go
Labels: bug, enhancement, p0-critical, cloud-aws, cloud-az, cloud-gcp, task
