Repository iterative/terraform-provider-iterative, pull requests merged in 2022-10, with the labels that each got.

#686 Exclude internal projects & tests from analytics
  iterative/utils/analytics.go
Labels: testing

#661 K8s support for specifying an existing persistent volume claim
  task/k8s/resources/data_source_persistent_volume.go
  task/k8s/resources/resource_job.go
  task/k8s/resources/resource_persistent_volume_claim.go
  task/k8s/task.go
Labels: cloud-k8s

#689 Document DescribeInstanceTypeOfferings permission
  docs/guides/permissions/aws/main.tf
Labels: documentation, cloud-aws

#688 Update nvidia container support package
  environment/setup.sh
  iterative/testdata/script_template_cloud_aws.golden
  iterative/testdata/script_template_cloud_azure.golden
  iterative/testdata/script_template_cloud_gcp.golden
  iterative/testdata/script_template_cloud_invalid.golden
Labels: hacktoberfest

#690 Revert "Update nvidia container support package"
  environment/setup.sh
  iterative/testdata/script_template_cloud_aws.golden
  iterative/testdata/script_template_cloud_azure.golden
  iterative/testdata/script_template_cloud_gcp.golden
  iterative/testdata/script_template_cloud_invalid.golden
Labels: bug

#692 Use `fetch-depth: 0` for release workflow
  .github/workflows/release.yml
Labels: bug, releases

#691 Add hidden command to destroy runners
  cmd/leo/destroyrunner/destroyrunner.go
  cmd/leo/root.go
  go.mod
  go.sum
  iterative/resource_runner.go
  iterative/testdata/script_template_cloud_aws.golden
  iterative/testdata/script_template_cloud_azure.golden
  iterative/testdata/script_template_cloud_gcp.golden
  iterative/testdata/script_template_cloud_invalid.golden
  iterative/testdata/script_template_cloud_kubernetes.golden
Labels: cloud-common, resource-runner, leo

#695 Use `d.Id()` on Google Cloud machines
  cmd/leo/destroyrunner/destroyrunner.go
  iterative/gcp/provider.go
Labels: technical-debt, cloud-gcp, resource-runner, resource-machine

#699 Support for file exclusion rules
  cmd/leo/create/create.go
  cmd/leo/root.go
  docs/resources/task.md
  iterative/resource_task.go
  task/aws/task.go
  task/az/task.go
  task/common/machine/storage.go
  task/common/machine/storage_test.go
  task/common/machine/testdata/transferTest/a.txt
  task/common/machine/testdata/transferTest/main.tf
  task/common/machine/testdata/transferTest/temp/a.txt
  task/common/machine/testdata/transferTest/temp/b.txt
  task/common/values.go
  task/gcp/task.go
  task/k8s/task.go
  task/task.go
Labels: enhancement, ui/ux, resource-task

#687 Support reusing existing storage containers across task providers
  docs/resources/task.md
  go.mod
  go.sum
  iterative/resource_task.go
  task/aws/client/client.go
  task/aws/resources/data_source_bucket.go
  task/aws/resources/data_source_bucket_test.go
  task/aws/resources/data_source_credentials.go
  task/aws/resources/resource_auto_scaling_group.go
  task/aws/resources/resource_bucket.go
  task/aws/resources/resource_key_pair.go
  task/aws/resources/resource_launch_template.go
  task/aws/task.go
  task/az/resources/data_source_credentials.go
  task/az/resources/data_source_existing_blob_container.go
  task/az/resources/resource_blob_container.go
  task/az/task.go
  task/common/machine/storage.go
  task/common/machine/storage_test.go
  task/common/resource.go
  task/common/values.go
  task/gcp/resources/data_source_bucket.go
  task/gcp/resources/data_source_bucket_test.go
  task/gcp/resources/data_source_credentials.go
  task/gcp/resources/resource_bucket.go
  task/gcp/task.go
  task/k8s/resources/data_source_persistent_volume.go
  task/k8s/resources/resource_job.go
  task/k8s/resources/resource_persistent_volume_claim.go
  task/k8s/task.go
  task/task.go
Labels: enhancement, storage, cloud-common

#700 Implement `read --follow`
  cmd/leo/read/read.go
  task/aws/task.go
  task/az/task.go
  task/gcp/task.go
Labels: enhancement, cloud-common, ui/ux, leo

#704 Exclude error from successful analytics
  iterative/utils/analytics.go
Labels: bug

#706 Improve comment
  iterative/utils/analytics.go
Labels: documentation, p2-nice-to-have
