Repository iterative/terraform-provider-iterative, pull requests merged in 2022-04, with the labels that each got.

#483 Log “experience” changes
  iterative/utils/logger.go
  task/aws/task.go
  task/az/task.go
  task/gcp/task.go
  task/k8s/task.go
Labels: user experience

#484 Fix `rclone` filters when `output` is `.`
  task/common/machine/storage.go
Labels: bug, p0-critical, cloud-common, task

#486 Improve AWS AutoScaling group waiter conditions
  task/aws/resources/resource_auto_scaling_group.go
  task/az/resources/resource_virtual_machine_scale_set.go
  task/gcp/resources/resource_instance_group_manager.go
Labels: bug, cloud-aws, task

#477 Creation/deletion time warns
  iterative/resource_task.go
Labels: user experience

#450 docs: misc updates
  .gitignore
  README.md
  docs/guides/authentication.md
  docs/guides/getting-started.md
  docs/index.md
  docs/resources/task.md
Labels: documentation, p1-important

#499 Add packer to devcontainer.json
  .devcontainer.json
Labels: enhancement, p2-nice-to-have

#497 Replace `go-bindata` with `go:embed`
  environment/environment.go
  go.mod
  iterative/bindata.go
  iterative/resource_runner.go
Labels: enhancement, runner, p2-nice-to-have

#511 Fix Kubernetes pod waiting flakiness
  go.mod
  iterative/resource_task.go
  task/k8s/resources/common.go
  task/k8s/task.go
Labels: bug, technical debt, testing, task, cloud-k8s, flaky

#492 docs: iteration 3
  README.md
  docs/guides/authentication.md
  docs/guides/getting-started.md
  docs/index.md
  docs/resources/task.md
  iterative/utils/logger.go
  task/common/machine/script.go
Labels: documentation, task

#514 Improve log format for the `machine` backend
  task/common/machine/script.go
Labels: enhancement, cloud-aws, cloud-az, cloud-gcp, user experience, task

#515 Fix TF_LOG `\r` hack for timezones other than UTC
  iterative/utils/logger.go
Labels: bug, cloud-common, user experience, task

#517 Remove `journalctl` header and footer
  task/common/machine/script.go
Labels: enhancement, user experience, logs

#516 Add timestamps to `k8s` logs
  task/k8s/resources/resource_job.go
Labels: enhancement, user experience, cloud-k8s, logs

#506 `runner` Support GCP OIDC credentials
  iterative/gcp/provider.go
  iterative/resource_runner.go
  iterative/testdata/script_template_cloud_gcp.golden
  iterative/utils/helpers.go
Labels: enhancement, security, cloud-gcp

#522 Replace `.Nil` by `.NoError` in tests
  task/task_test.go
Labels: enhancement, testing

#523 Add “this may happen several times” notice on Read
  task/aws/task.go
  task/az/task.go
  task/gcp/task.go
  task/k8s/task.go
Labels: cloud-common, user experience, task, logs

#525 Add `s` (CPU) & `m+t4` (GPU) generic machine types
  docs/guides/generic-machine-types.md
  docs/resources/task.md
  task/aws/resources/resource_launch_template.go
  task/az/resources/resource_virtual_machine_scale_set.go
  task/gcp/resources/resource_instance_template.go
  task/k8s/resources/resource_job.go
Labels: p1-important, machine-image, cloud-common, user experience, task

#527 Use AWS DLAMI instead on NVIDIA NGC
  task/aws/resources/data_source_image.go
Labels: cloud-aws, machine-image, discussion, user experience, task, p2-nice-to-have

#529 remove s+k80
  docs/guides/generic-machine-types.md
  task/gcp/resources/resource_instance_template.go
  task/k8s/resources/resource_job.go
Labels: machine-image, cloud-common, user experience, task

#521 Fix `ExecStop` condition
  task/common/machine/script.go
Labels: bug, cloud-aws, cloud-az, cloud-gcp, user experience, task

#530 Disable `apt-daily.timer`
  task/common/machine/script.go
Labels: cloud-aws, cloud-az, cloud-gcp, user experience, task

#532 docs: iter 4
  README.md
  docs/guides/generic-machine-types.md
  docs/guides/getting-started.md
  docs/index.md
  docs/resources/task.md
Labels: documentation, p1-important, task

#533 Test with GPU and `m+t4` machines
  README.md
  docs/guides/getting-started.md
  docs/resources/task.md
  iterative/resource_task.go
  task/aws/resources/data_source_image.go
  task/aws/resources/resource_launch_template.go
  task/az/resources/resource_virtual_machine_scale_set.go
  task/common/machine/script.go
  task/gcp/resources/data_source_image.go
  task/gcp/resources/resource_instance_template.go
  task/k8s/resources/resource_job.go
  task/k8s/resources/resource_persistent_volume_claim.go
  task/k8s/task.go
  task/task_test.go
Labels: p1-important, testing, cloud-common, task

#542 docs: add GIF & video
  README.md
  docs/guides/getting-started.md
Labels: documentation

#544 docs: minor section rename
  README.md
  docs/index.md
Labels: documentation
